.toolbar[_ngcontent-mfd-c80] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #19d22c;
    color: white;
    font-weight: 600;
    font-size: 2em;
}